.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media only screen and (max-width: 600px) {
  .Container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    font-size: calc(20px + 2vmin); 
    flex-wrap: nowrap;
  }

  .box {
    min-height: 25vh;
    align-items: center;
    justify-content: center;
  }
}


@media only screen and (min-width: 600px) {
  .Container {
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: space-evenly;
    font-size: calc(20px + 2vmin); 
    display: flex;
    flex-direction: row;
  }

  .box {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}



.text {
  font-size:2rem;  
  font-weight:lighter;
  padding: 0;
  margin:0;
}


